.root-container {
    width: 300px;
    height: 400px;
    background-color: rgb(30, 30, 30);
    display: flex;
    color: white;
    flex-direction: column;
    font-family: monospace;
    padding: 5px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
}
