html {
  background-color: rgb(30, 30, 30);
}

#root {
  width: 320px;
  height: 400px;
  display: grid;
  grid-template:
    "err err err err" 1fr
    "top top top top" 3fr
    "tim tim tim tim" 2fr
    "val val cle cle" 2fr
    "ext ext ext ext" 40px
    / 1fr 1fr 1fr 1fr;
}

.error-banner {
  grid-area: err;
  height: 0px;
  background-color: red;
  color: white;
  transition: height 0.2s linear;
  overflow: hidden;
}

.error-banner.active {
  padding: 5px;
  height: 40px;
}

.top {
  grid-area: top;
  align-items: center;
  display: flex;
  justify-content: center;
  color: white;
}

.time-form {
  grid-area: tim;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
}

.time-form input {
  width: 80%;
  padding: 8px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.time-form button {
  width: 80%;
  padding: 8px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.time-form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.time-form .success-message {
  color: green;
  font-weight: bold;
  margin-top: 4px;
  text-align: center;
}

.time-form .error-message {
  color: red;
  font-weight: bold;
  margin-top: 4px;
  text-align: center;
}

.validate-form {
  grid-area: val;
  display: flex;
  align-items: center;
  justify-content: center;
}

.validate-form button {
  padding: 10px 20px 10px 20px;
  text-align: center;
}

.clear-cache {
  grid-area: cle;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clear-cache button {
  padding: 10px 20px 10px 20px;
  text-align: center;
}

p.warning-form {
  color: white;
  text-align: center;
  font-style: italic;
}

div.extra-bar {
  grid-area: ext;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
